body { /*This is the style of every <body> */
    background-color: black;
}
#board { /* This is the style of a div with id=board*/
    position: relative; /**/
    width: 1024px;
    height: 863px;
    margin: auto;
    background: url("board.jpg") no-repeat;
}
#messageArea {
    position: absolute; /**/
    top: 0px;
    left: 0px;
    color: rgb(83, 175, 19);
}
table {
    position: absolute;
    left: 173px; /* It is aligned with the grid image*/
    top: 98px;
    border-spacing: 0px;
}

/*tr td:nth-of-type(1):before{*/
/*    content: 'A';*/
/*    color: #fff;*/
/*    position: absolute;*/
/*    left: -30px;*/
/*    top: 30px;*/
/*    font-size: 30px;*/
/*}*/

td {
    width: 94px; /*matches with the cells of grid*/
    height: 94px;
    border: solid 1px red;
}
form {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    background-color: rgb(83, 175, 19);
}
form input {
    background-color: rgb(152, 207, 113);
    border-color: rgb(83, 175, 19);
    font-size: 1em;
}
.hit {
    background: url("ship.png") no-repeat center center;
}
.miss {
    background: url("miss.png") no-repeat center center;
}